/.github/ @spenserblack @o2sh
/src/ui/image_backends/ @CephalonRho @yoichi
/src/info/git.rs @Byron
/src/info/repo @o2sh @Byron
/languages.yaml @spenserblack @o2sh
/templates/language.rs @spenserblack
/src/info/deps/ @HallerPatrick @o2sh
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack
