pkgbase = onefetch
	pkgdesc = Neofetch for your source code
	pkgver = 1.0.0
	pkgrel = 1
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = rust
	makedepends = cargo

pkgname = onefetch

