[package]
authors = ["o2sh <ossama-hjaji@live.fr>"]
categories = ["command-line-utilities"]
description = "Command-line Git information tool"
edition = "2021"
exclude = ["assets/*", "docs/vercel/*"]
keywords = ["git", "cli", "terminal"]
license = "MIT"
name = "onefetch"
readme = "README.md"
repository = "https://github.com/o2sh/onefetch"
rust-version = "1.60.0"
version = "2.13.2"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Onefetch is a command-line Git information tool written in Rust \
that displays project information and code statistics \
for a local Git repository directly to your terminal."""
maintainer = "o2sh <ossama-hjaji@live.fr>"
priority = "optional"
section = "utility"

[dev-dependencies]
git-testtools = "0.9.0"
pretty_assertions = "1.3.0"
insta = { version = "1.21.0", features = ["json", "redactions"] }

[dependencies]
manifest = { path = "./manifest", version = "0.1.0" }
anyhow = "1.0.66"
askalono = "0.4.6"
byte-unit = "4.0.14"
bytecount = "0.6.3"
clap = { version = "4.0.15", features = ["derive"] }
clap_complete = "4.0.3"
color_quant = "1.1.0"
git-features-for-configuration-only = { package = "git-features", version = "0.22.4", features = [
    "zlib-ng-compat",
] }
git-repository = { version = "0.23.1", default-features = false, features = [
    "max-performance-safe",
    "unstable",
] }
git2 = { version = "0.15.0", default-features = false }
image = "0.24.4"
owo-colors = "3.5.0"
regex = "1.6.0"
serde = "1.0.147"
serde_json = "1.0.85"
serde_yaml = "0.9.13"
# TODO With the new value parsers, we're really close to being able to eliminate
# the strum dependency
strum = { version = "0.24.1", features = ["derive"] }
terminal_size = "0.2"
time = { version = "0.3.15", features = ["formatting"] }
time-humanize = { version = "0.1.3", features = ["time"] }
tokei = "12.1.2"
toml = "0.5.9"
yaml-rust = "0.4.5"

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.1.2"

[target.'cfg(not(windows))'.dependencies]
base64 = "0.13.0"
libc = "0.2.134"

[build-dependencies]
lazy_static = "1"
regex = "1"
serde_json = "1"
serde_yaml = "0.9"
tera = { version = "1", default-features = false }

[features]
fail-on-deprecated = []
