[package]
authors = ["o2sh <ossama-hjaji@live.fr>"]
categories = ["command-line-utilities"]
description = "Command-line Git information tool"
edition = "2021"
exclude = ["docs/vercel/*"]
keywords = ["git", "cli", "terminal"]
license = "MIT"
name = "onefetch"
readme = "README.md"
repository = "https://github.com/o2sh/onefetch"
homepage = "https://github.com/o2sh/onefetch"
rust-version = "1.61.0"
version = "2.14.2"

[workspace]
members = ["image", "manifest"]

[dependencies]
anyhow = "1.0.66"
askalono = "0.4.6"
byte-unit = "4.0.14"
bytecount = "0.6.3"
clap = { version = "4.0.26", features = ["derive"] }
clap_complete = "4.0.3"
git-features-for-configuration-only = { package = "git-features", version = "0.23.1", features = [
    "zlib-ng-compat",
] }
git-repository = { version = "0.29.0", default-features = false, features = [
    "max-performance-safe",
] }
git2 = { version = "0.15.0", default-features = false }
human-panic = "1.0.3"
image = "0.24.4"
onefetch-image = { path = "image", version = "2.13.2" }
onefetch-manifest = { path = "manifest", version = "2.13.2" }
owo-colors = "3.5.0"
regex = "1.6.0"
serde = "1.0.148"
serde_json = "1.0.89"
serde_yaml = "0.9.14"
# TODO With the new value parsers, we're really close to being able to eliminate
# the strum dependency
strum = { version = "0.24.1", features = ["derive"] }
terminal_size = "0.2"
time = { version = "0.3.17", features = ["formatting"] }
time-humanize = { version = "0.1.3", features = ["time"] }
tokei = "12.1.2"
yaml-rust = "0.4.5"

[dev-dependencies]
git-testtools = "0.9.0"
insta = { version = "1.21.2", features = ["json", "redactions"] }
pretty_assertions = "1.3.0"

[build-dependencies]
lazy_static = "1"
regex = "1"
serde_json = "1"
serde_yaml = "0.9"
tera = { version = "1", default-features = false }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.1.2"

[features]
fail-on-deprecated = []
