[package]
authors.workspace = true
edition.workspace = true
version.workspace = true
license.workspace = true
repository.workspace = true
categories = ["command-line-utilities"]
description = "Command-line Git information tool"
exclude = ["docs/vercel/*"]
keywords = ["git", "cli", "terminal"]
name = "onefetch"
homepage = "https://onefetch.dev"
rust-version = "1.70.0"

[workspace]
members = ["ascii", "image", "manifest"]

[workspace.package]
authors = ["o2sh <ossama-hjaji@live.fr>"]
edition = "2021"
license = "MIT"
version = "2.18.1"
repository = "https://github.com/o2sh/onefetch"

[workspace.dependencies]
owo-colors = "3.5.0"
anyhow = "1.0"
clap = { version = "4.3.21", features = ["derive"] }
image = "0.24.7"
strum = { version = "0.25.0", features = ["derive"] }

[dependencies]
anyhow.workspace = true
askalono = "0.4.6"
byte-unit = "4.0.19"
bytecount = "0.6.3"
clap.workspace = true
clap_complete = "4.3.2"
crossbeam-channel = "0.5.8"
gix-features-for-configuration-only = { package = "gix-features", version = "0.34.0", features = [
    "zlib-ng",
] }
gix = { version = "0.53.0", default-features = false, features = [
    "max-performance-safe", "blob-diff", "mailmap", "index"
] }
git2 = { version = "0.17.2", default-features = false }
globset = "0.4.13"
human-panic = "1.1.5"
image.workspace = true
num-format = "0.4.4"
onefetch-ascii = { path = "ascii", version = "2.18.1" }
onefetch-image = { path = "image", version = "2.18.1" }
onefetch-manifest = { path = "manifest", version = "2.18.1" }
owo-colors.workspace = true
regex = "1.9.3"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9.25"
# TODO With the new value parsers, we're really close to being able to eliminate
# the strum dependency
strum.workspace = true
time = { version = "0.3.28", features = ["formatting"] }
time-humanize = { version = "0.1.3", features = ["time"] }
tokei = "12.1.2"
typetag = "0.2"
yaml-rust = "0.4.5"
parking_lot = "0.12"

[dev-dependencies]
criterion = "0.5.1"
gix-testtools = "0.12.0"
insta = { version = "1.31.0", features = ["json", "redactions"] }
pretty_assertions = "1.4.0"
rstest = "0.18.2"

[[bench]]
name = "repo"
harness = false

[build-dependencies]
lazy_static = "1"
regex = "1"
serde_json = "1"
serde_yaml = "0.9"
tera = { version = "1", default-features = false }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.2.1"

[features]
fail-on-deprecated = []
