[package]
authors = ["o2sh <ossama-hjaji@live.fr>"]
categories = ["command-line-utilities"]
description = "Command-line Git information tool"
edition = "2021"
exclude = ["docs/vercel/*"]
keywords = ["git", "cli", "terminal"]
license = "MIT"
name = "onefetch"
readme = "README.md"
repository = "https://github.com/o2sh/onefetch"
homepage = "https://onefetch.dev"
rust-version = "1.62.1"
version = "2.16.0"

[workspace]
members = ["ascii", "image", "manifest"]

[dependencies]
anyhow = "1.0"
askalono = "0.4.6"
byte-unit = "4.0.19"
bytecount = "0.6.3"
clap = { version = "4.1.6", features = ["derive"] }
clap_complete = "4.1.4"
git-features-for-configuration-only = { package = "git-features", version = "0.23.1", features = [
    "zlib-ng-compat",
] }
gix = { version = "0.36.1", default-features = false, features = [
    "max-performance-safe",
] }
git2 = { version = "0.16.1", default-features = false }
human-panic = "1.0.3"
image = "0.24.4"
num-format = "0.4.4"
onefetch-ascii = { path = "ascii", version = "2.16.0" }
onefetch-image = { path = "image", version = "2.16.0" }
onefetch-manifest = { path = "manifest", version = "2.16.0" }
owo-colors = "3.5.0"
regex = "1.6.0"
serde = "1.0"
serde_json = "1.0"
serde_yaml = "0.9.17"
# TODO With the new value parsers, we're really close to being able to eliminate
# the strum dependency
strum = { version = "0.24.1", features = ["derive"] }
terminal_size = "0.2"
time = { version = "0.3.17", features = ["formatting"] }
time-humanize = { version = "0.1.3", features = ["time"] }
tokei = "12.1.2"
typetag = "0.2"
yaml-rust = "0.4.5"

[dev-dependencies]
criterion = "0.4.0"
gix-testtools = "0.11.0"
insta = { version = "1.28.0", features = ["json", "redactions"] }
pretty_assertions = "1.3.0"

[[bench]]
name = "repo"
harness = false

[build-dependencies]
lazy_static = "1"
regex = "1"
serde_json = "1"
serde_yaml = "0.9"
tera = { version = "1", default-features = false }

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[target.'cfg(windows)'.dependencies]
enable-ansi-support = "0.2.1"

[features]
fail-on-deprecated = []
