[package]
authors = ["o2sh <ossama-hjaji@live.fr>"]
categories = ["command-line-utilities"]
description = "Git repository summary on your terminal"
edition = "2018"
exclude = ["assets/*", "tools/*"]
keywords = [
  "git",
  "cli",
  "terminal",
]
license = "MIT"
name = "onefetch"
readme = "README.md"
repository = "https://github.com/o2sh/onefetch"
version = "2.11.0"

[package.metadata.deb]
depends = "$auto"
extended-description = """\
Onefetch is a command-line Git information tool written in Rust \
that displays project information and code statistics \
for a local Git repository directly on your terminal."""
maintainer = "o2sh <ossama-hjaji@live.fr>"
priority = "optional"
section = "utility"

[dependencies]
anyhow = "1.0"
askalono = "0.4.4"
byte-unit = "4.0.13"
bytecount = "0.6.2"
clap = {version = "2.34.0", features = ["wrap_help"]}
color_quant = "1.1.0"
colored = "2.0.0"
git2 = {version = "0.13.25", default-features = false}
image = "0.23.14"
regex = "1.4.6"
serde = "1.0.130"
serde_json = "1.0.72"
serde_yaml = "0.8"
strum = {version = "0.23.0", features = ["derive"]}
term_size = "0.3.2"
time = {version = "0.3.5", features = ["formatting"]}
time-humanize = {version = "0.1.3", features = ["time"]}
tokei = "12.1.2"
toml = "0.5.8"
yaml-rust = "0.4"

[target.'cfg(windows)'.dependencies]
ansi_term = "0.12"

[target.'cfg(not(windows))'.dependencies]
base64 = "0.13.0"
libc = "0.2.108"

[dev-dependencies]
more-asserts = "0.2"
paste = "1.0.6"

[features]
fail-on-deprecated = []
