name: CI
on:
  push:
    branches: ["*"]
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "docs/vercel/**"
      - ".gitpod.yml"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "docs/vercel/**"
      - ".gitpod.yml"
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [stable, nightly]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Build Debug
        run: |
          rustc --version
          cargo build --features=fail-on-deprecated

      - name: Run tests
        run: cargo test

      - name: Run onefetch
        run: cargo run

      - name: Run onefetch (with commitgraph)
        run: git commit-graph write --no-progress --reachable && cargo run

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable
          components: clippy,rustfmt

      - name: Run rustfmt
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: stable

      - name: Cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-tarpaulin
        run: cargo install cargo-tarpaulin

      - name: Coverage with tarpaulin
        run: cargo tarpaulin --workspace --out lcov

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
