name: "Close stale issues and PRs"
on:
  schedule:
    # Once every week at midnight UTC
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Mark/Close Stale Issues and Pull Requests
        uses: actions/stale@v5.1.0
        with:
          repo-token: ${{ secrets.STALE_ACTION }}
          days-before-stale: 90
          days-before-close: 7
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs.
          stale-pr-message: >
            This pull request has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs.
          exempt-issue-labels: "pinned,security,help wanted,blocked: tokei"
          exempt-pr-labels: "blocked: tokei"
          stale-issue-label: "stale"
          stale-pr-label: "stale"
          exempt-draft-pr: "true"
