name: Sync Wiki
on:
  push:
    branches: [main]
    paths:
      - "docs/wiki/**"

  workflow_dispatch:

jobs:
  update-wiki:
    runs-on: ubuntu-latest
    name: Sync Wiki
    concurrency:
      group: wiki
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v4
      - uses: spenserblack/actions-wiki@v0.1
        with:
          token: ${{ secrets.WIKI_TOKEN }}
          path: docs/wiki
